[submodule "python-api"]
	path = python-api
	url = git@github.com:MadsSRasmussen/ai-workflows-python-api.git
[submodule "vue-app"]
	path = vue-app
	url = git@github.com:MadsSRasmussen/ai-workflows-vue-app.git
[submodule "express-api"]
	path = express-api
	url = git@github.com:MadsSRasmussen/ai-workflows-express-api.git
